<table>
    <tr>
        <td>
            <button type="button" pTooltip="Yer İmi ekle" (click)="newPlaceMarkClicked()" pButton>
                <img title="Yer imi ekle" src="./app/img/placemark.png" width="20px" height="20px" >
            </button>

        </td>
    </tr>
</table>

<div id="popup" class="ol-popup" style="width:250px;">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="projectItem1.name" class="form-control" id="name">
            </div>
        <div class="form-group">
            <label for="lat">Enlem</label>
            <input type="text" [(ngModel)]="projectItem1.lat" class="form-control" id="lat">
        </div>
        <div class="form-group">
            <label for="lon">Boylam</label>
            <input type="text" [(ngModel)]="projectItem1.lon" class="form-control" id="lon">
        </div>
        <div>
            <button pButton type="text" (click)="btnSaveClicked()" >Kaydet</button>
        </div>
    </div>
</div>